*~
\#*\#

*.depend
Makefile.coq
_CoqProject
*.vo
*.vio
*.glob
*.v.d
deps.dot
deps.pdf
Bedrock/ILTac.v
Bedrock/reification/extlib.ml
Bedrock/reification/extlib.mli
Bedrock/reification/reif.ml4
Bedrock/Coq__8_4__8_5__Compat.v

*.aux
*.bbl
*.blg
*.log
*.out
timing/
.coq-native/
.coq-version
*.cmo
*.cmx
*.cmxs
*.cmi
*.o
*.ml4.d
*.ml.d
*.mli.d

*.html
*.v.tex
*.css
*.sty
*.pdf
*.toc
*.orig
*.\#*

*.exe
Bedrock/Examples/comparison/*data.*
Bedrock/Examples/comparison/bedrock_server.s
Bedrock/Examples/comparison/bedrock_server.ml

*.gen.s
*.gen.ml
Bedrock/Platform/tests/echotest
ttt.txt

/submodule-update

facadeCompiler.ml*
