*.v text eol=lf
Makefile text eol=lf
_CoqProject text eol=lf
_CoqProject.in text eol=lf

/Overview export-ignore
/paper export-ignore
/etc export-ignore
/src/Examples/ADTExamples export-ignore
/src/Examples/ProcessScheduler-outdated/ export-ignore

.gitattributes export-ignore
.gitignore export-ignore
.gitmodules export-ignore

autogen.sh export-ignore
todos.sh export-ignore
tarball.sh export-ignore
TODO export-ignore

/src/Examples/plot.py export-ignore

/src/Examples/Trivial.v export-ignore
/src/Examples/TrivialCache2.v export-ignore
/src/Examples/TrivialADTCache.v export-ignore
/src/Examples/CacheADT.v export-ignore
/src/Examples/Examples.v export-ignore
/src/Examples/ComputationExamples.v export-ignore

/src/Examples/BookstoreMinimal.v export-ignore
/src/Examples/BookstoreLists.v export-ignore
/src/Examples/BookstoreNaive.v export-ignore
/src/Examples/BookstoreNaiveExtraction.v export-ignore
