*#*#
*.a
*.aux
*.bbl
*.blg
*.cm*
*.glob
*.log
*.o
*.out
*.synctex.gz
*.toc
*.v.d
*.vo
*~
.#*
.DS_Store
/ADT-Synthesis-Submitted.tiff
/all.pdf
/coqdoc.sty
/examples/*coq*
/examples/ADTExamples/PLLunch.v
/examples/ADTExamples/PLLunch2.v
/examples/ADTExamples/SetoidRewritingAdventures.v
/examples/bookstore.ml
/examples/bookstore.mli
/examples/QueryStructure/*coq*
/examples/repl
/examples/SumUnique.exe
/examples/SumUnique.ml
/examples/SumUnique.s
/html
/Makefile.coq
/parsing-parses
/parsing-parses.tar.gz
/src/Bellmania
/src/Makefile.coq
/src/Overview
/src/QueryStructure/QuerySpecs/ConstraintCheckUnfoldings.v
/src/QueryStructure/QuerySpecs/InsertQSRefinements.v
/src/QueryStructure/Refinements/AdditionalListLemmas.v
/time-worked
ADT-Synthesis-Submitted.tiff
artifact
Overview
web
