*#*#
*.a
*.aux
*.bbl
*.blg
*.cm*
*.glob
*.log
*.o
*.out
*.synctex.gz
*.toc
*.v.d
*.vo
*~
.#*
.DS_Store
/ADT-Synthesis-Submitted.tiff
/all.pdf
/coqdoc.sty
/src/Examples/*coq*
/src/Examples/ADTExamples/PLLunch.v
/src/Examples/ADTExamples/PLLunch2.v
/src/Examples/ADTExamples/SetoidRewritingAdventures.v
/src/Examples/bookstore.ml
/src/Examples/bookstore.mli
/src/Examples/QueryStructure/*coq*
/src/Examples/repl
/src/Examples/SumUnique.exe
/src/Examples/SumUnique.ml
/src/Examples/SumUnique.s
/html
/Makefile.coq
/parsing-parses
/parsing-parses.tar.gz
/src/Bellmania
/src/Makefile.coq
/src/Overview
/src/QueryStructure/QuerySpecs/ConstraintCheckUnfoldings.v
/src/QueryStructure/QuerySpecs/InsertQSRefinements.v
/src/QueryStructure/Refinements/AdditionalListLemmas.v
/time-worked
ADT-Synthesis-Submitted.tiff
artifact
Overview
web
