.#*
*~
*#*#
*.a
/ADT-Synthesis-Submitted.tiff
ADT-Synthesis-Submitted.tiff
/all.pdf
artifact
*.aux
*.bak
*.bbl
*.blg
bug_*.v
/classifier.ml
/classifier.mli
/classifier_unopt.ml
/classifier_unopt.mli
*.cm*
/coqdoc.sty
.coq-native
/_CoqProject
.coq-version
.DS_Store
*.exe
/fiat2/
*.glob
gmon.out
/html
*.log
/Makefile.coq
/messages.ml
/messages.mli
*.ml4.d
*.o
ocamlprof.dump
*.out
Overview
/parsing-parses
/parsing-parses.tar.gz
/src/Bellmania
/src/Common/Coq__8_4__8_5__Compat.v
/src/Common/Tactics/hint_db_extra_plugin.ml4
/src/Common/Tactics/Makefile
/src/Common/Tactics/transparent_abstract_plugin.ml4
/src/Computation/State.v
/src/Examples/ADTExamples/PLLunch2.v
/src/Examples/ADTExamples/PLLunch.v
/src/Examples/ADTExamples/SetoidRewritingAdventures.v
/src/Examples/bookstore.ml
/src/Examples/bookstore.mli
/src/Examples/*coq*
/src/Examples/QueryStructure/classifier.ml
/src/Examples/QueryStructure/classifier.mli
/src/Examples/QueryStructure/classifier_repl
/src/Examples/QueryStructure/classifier_unopt.ml
/src/Examples/QueryStructure/classifier_unopt.mli
/src/Examples/QueryStructure/classifierUnOpt_repl
/src/Examples/QueryStructure/*coq*
/src/Examples/QueryStructure/foo1.txt
/src/Examples/QueryStructure/foo2.txt
/src/Examples/QueryStructure/messages.ml
/src/Examples/QueryStructure/messages.mli
/src/Examples/QueryStructure/messagesUnoptimized.ml
/src/Examples/QueryStructure/messagesUnoptimized.mli
/src/Examples/QueryStructure/msg_repl
/src/Examples/QueryStructure/msg_replUnOpt
/src/Examples/QueryStructure/photoalbum.ml
/src/Examples/QueryStructure/photoalbum.mli
/src/Examples/QueryStructure/photoalbumUnOpt.ml
/src/Examples/QueryStructure/photoalbumUnOpt.mli
/src/Examples/QueryStructure/photo_repl
/src/Examples/QueryStructure/photoUnOpt_repl
/src/Examples/QueryStructure/r50
/src/Examples/QueryStructure/repl
/src/Examples/QueryStructure/SearchTest.v
/src/Examples/QueryStructure/with_hint_db_plugin.ml4
/src/Examples/repl
/src/Examples/SearchTest.v
/src/Examples/SumUnique.exe
/src/Examples/SumUnique.ml
/src/Examples/SumUnique.s
/src/Fiat4Monitors/health_monitor*
/src/Fiat4Monitors/HelloWorld/bedrock_driver.s
/src/Fiat4Monitors/HelloWorld/bedrock_main.c
/src/Fiat4Monitors/HelloWorld/HelloWorldI386.v
/src/Fiat4Monitors/HelloWorld/HelloWorld.v
/src/Makefile.coq
/src/Overview
/src/Parsers/Refinement/Testing/ab10*
/src/Parsers/Refinement/Testing/aba10*
/src/Parsers/Refinement/Testing/test_*
/src/QueryStructure/Automation/RangeTreeBags.v
/src/QueryStructure/QuerySpecs/ConstraintCheckUnfoldings.v
/src/QueryStructure/QuerySpecs/InsertQSRefinements.v
/src/QueryStructure/Refinements/AdditionalListLemmas.v
/submodule-update
*.swp
*.synctex.gz
/time-worked
*.toc
*.v.d
*.vio
*.vo
web
