Jason Gross                   <jgross@mit.edu>                             Jason Gross              <t-jagro@microsoft.com>
Ben Delaware                  <bendy@csail.mit.edu>                        Bendy                    <bendy@csail.mit.edu>
Ben Delaware                  <bendy@csail.mit.edu>                        Bendy                    <bendy@cs.utexas.edu>
Adam Chlipala                 <adamc@csail.mit.edu>                        Adam Chlipala            <adam@chlipala.net>
Clément Pit--Claudel          <cpitcla@mit.edu>                            Clément Pit--Claudel     <clement.pitclaudel@live.com>
Clément Pit--Claudel          <cpitcla@mit.edu>                            Clément Pit--Claudel     <clement.pit-claudel@polytechnique.edu>
Katherine Ye                  <kye@princeton.edu>                          katherineye              <kye@princeton.edu>
Sorawit Suriyakarn            <sorawit@mit.edu>                            Sorawit Suriyakarn       <sorawit@sorawit-mbp.corp.dropbox.com>
